* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background: rgb(6,193,103);
    background: radial-gradient(circle, rgba(6,193,103,1) 2%, rgba(255,255,255,1) 95%);
}
.card {
    position: absolute;
    background-color: white;
    z-index: 1;
    left: 50%;
    border-radius: 15pt;
    border: 0px solid;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
}
.cardImage img {
    position: relative;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}
.cardText {
    text-align: center;
    padding: 10px;
}
.cardPaymentPlan {
    text-align: center;
}
.cardPaymentPlan ul {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: auto;
    list-style-type: none;
    width: 80%;
}
.cardPaymentPlan li {
    float: left;
    font-size: small;
    text-align: left;
    padding: 12px;
}
.cardPaymentPlan li span {
    color: grey;
}
.cardPaymentPlan li.planIcon {
    height: 50px;
}
.cardPaymentPlan img {
    border-radius: 50%;
    height: 50px;
}
.changePlan a {
    text-decoration: none;
    color: #06C167;
    padding-left: 50px;
    font-weight: 500;
}
.planDetails li {
    text-align: left;
}
.cardButtons {
    padding: 20px;
    text-align: center;
}
.cardButtons button {
    padding: 10px 40px 10px 40px;
    font-weight: 500;
    border-radius: 11.5pt;
    border: 0px;
    cursor: pointer;
}
.cardButtons button.proceed {
    background-color: #06C167;
    color: white;
    width: 80%;
    margin-bottom: 5px;
}
.cardButtons button.cancel {
    background-color: white;
    color: #06C167;
    margin-top: 5px;
}